.row
  .content
    .col-md-12
      .panel
        .panel-body
          .viewcode-example
            %form.simple-form{:novalidate => "novalidate"}
              %fieldset
                %legend.section
                  %h5
                    %i.icon-note
                    %strong General
                    %strong.pull-right.make-red * Required
                %p
                  .control-group
                    %label.control-label.make-red First Name
                    .controls.form-group
                      %input.form-control.input-sm

                %p
                  .control-group
                    %label.control-label.make-red Last Name
                    .controls.form-group
                      %input.form-control.input-sm{'ng-model' => 'requestControl.params.area_code', :type => 'text', :placeholder => 'Ex: 319'}

                %p
                  .control-group
                    %label.control-label.make-red Email
                    .controls.form-group
                      %input.form-control.input-sm{'ng-model' => 'requestControl.params.redirect_number', :type => 'text', :placeholder => 'Ex: 4625556666'}

                %p
                  .control-group
                    %label.control-label Phone Number
                    .controls.form-group
                      %input.form-control.input-sm{'ng-model' => 'requestControl.params.name', :type => 'text', :placeholder => 'Ex: Marketing Team'}

              .form-actions
                %p
                  .btn-group.no-margin{style: "float: right;"}
                    %button.btn.btn-sm.btn-default{"ng-click" => "requestControl.cancel()"} Cancel
                    %button.btn.btn-sm.btn-success{"ng-click" => "requestControl.updatePhoneNumber()"} Update Profile

            %div{'ng-if' => 'loaderControl.isLoading === true'}
              .loader-css
                .load-container.load8
                  .loader
                    Loading...
                %h5 Update Profile...

