%section
  / START Page content
  .content-wrapper
    %h3
      .pull-right.text-center>
        / %ol.breadcrumb.page-breadcrumb.hidden-xs
        /   %li
        /     %i.icon-home>
        /     \&nbsp;
        /     %a{:href => "/"}> Dashboard
        /     \&nbsp;&nbsp;
        /     %i.fa.fa-angle-right>
        /     \&nbsp;&nbsp;
        /   %li.active Phone Numbers
      Dashboard
    .row
      / START dashboard main content
      %section.col-md-7{'ng-controller' => "CurrentUserController"}
        .row
          .col-md-4
            / START widget
            .panel.widget{"data-delay" => "100", "data-offset" => "0", "data-play" => "fadeInLeft", "data-toggle" => "play-animation"}
              .panel-body.bg-primary
                .row.row-table.row-flush
                  .col-xs-8
                    %p.mb0 Friends
                    %h3.m0 {{requestControl.user.friends.length}}
                  .col-xs-4.text-right
                    %em.fa.fa-users.fa-2x
              .panel-body
                / Bar chart
                .text-center
                  .inlinesparkline.inline{"data-bar-color" => "primary", "data-bar-spacing" => "6", "data-bar-width" => "6", "data-height" => "30"} 5,3,4,6,5,9,4,4,10,5,9,6,4
          .col-md-4
            / START widget
            .panel.widget{"data-delay" => "100", "data-offset" => "0", "data-play" => "fadeInDown", "data-toggle" => "play-animation"}
              .panel-body.bg-success
                .row.row-table.row-flush
                  .col-xs-8
                    %p.mb0 Total Points
                    %h3.m0 {{requestControl.user.total_points}}
                  .col-xs-4.text-right
                    %em.fa.fa-clock-o.fa-2x
              .panel-body
                / Bar chart
                .text-center
                  .inlinesparkline.inline{"data-bar-color" => "success", "data-bar-spacing" => "6", "data-bar-width" => "6", "data-height" => "30"} 10,30,40,70,50,90,70,50,90,40,40,60,40
          .col-md-4
            / START widget
            .panel.widget{"data-delay" => "100", "data-offset" => "0", "data-play" => "fadeInRight", "data-toggle" => "play-animation"}
              .panel-body.bg-danger
                .row.row-table.row-flush
                  .col-xs-8
                    %p.mb0 Points to Spend
                    %h3.m0 {{requestControl.user.points_available}}
                  .col-xs-4.text-right
                    %em.fa.fa-bullseye.fa-2x
              .panel-body
                / Bar chart
                .text-center
                  .inlinesparkline.inline{"data-bar-color" => "danger", "data-bar-spacing" => "6", "data-bar-width" => "6", "data-height" => "30"} 2,7,5,9,4,2,7,5,7,5,9,6,4
        .row
          .col-md-4
            / START widget
            .panel.widget{"data-delay" => "100", "data-offset" => "0", "data-play" => "fadeInLeft", "data-toggle" => "play-animation"}
              .panel-body.bg-success
                .row.row-table.row-flush
                  .col-xs-8
                    %p.mb0 Total Kills
                    %h3.m0 {{requestControl.user.total_kills}}
                  .col-xs-4.text-right
                    %em.fa.fa-users.fa-2x
              .panel-body
                / Bar chart
                .text-center
                  .inlinesparkline.inline{"data-bar-color" => "primary", "data-bar-spacing" => "6", "data-bar-width" => "6", "data-height" => "30"} 5,3,4,6,5,9,4,4,10,5,9,6,4
          .col-md-4
            / START widget
            .panel.widget{"data-delay" => "100", "data-offset" => "0", "data-play" => "fadeInDown", "data-toggle" => "play-animation"}
              .panel-body.bg-danger
                .row.row-table.row-flush
                  .col-xs-8
                    %p.mb0 Top Weapon
                    %h3.m0 {{requestControl.user.top_weapon.name}} - {{requestControl.user.top_weapon.kill_count}}
                  .col-xs-4.text-right
                    %em.fa.fa-clock-o.fa-2x
              .panel-body
                / Bar chart
                .text-center
                  .inlinesparkline.inline{"data-bar-color" => "success", "data-bar-spacing" => "6", "data-bar-width" => "6", "data-height" => "30"} 10,30,40,70,50,90,70,50,90,40,40,60,40
          .col-md-4
            / START widget
            .panel.widget{"data-delay" => "100", "data-offset" => "0", "data-play" => "fadeInRight", "data-toggle" => "play-animation"}
              .panel-body.bg-warning
                .row.row-table.row-flush
                  .col-xs-8
                    %p.mb0 Top Skin
                    %h3.m0 {{requestControl.user.top_skin.name}} - {{requestControl.user.top_skin.kill_count}}
                  .col-xs-4.text-right
                    %em.fa.fa-bullseye.fa-2x
              .panel-body
                / Bar chart
                .text-center
                  .inlinesparkline.inline{"data-bar-color" => "danger", "data-bar-spacing" => "6", "data-bar-width" => "6", "data-height" => "30"} 2,7,5,9,4,2,7,5,7,5,9,6,4
        / START messages and activity
        .row
          .col-md-12{'ng-controller' => "EventsController"}
            .panel.panel-default{'ng-repeat' => 'event in requestControl.events'}
              .list-group
                .list-group-item
                  .media
                    .pull-left
                      %span.fa-stack.fa-lg
                        %em.fa.fa-circle.fa-stack-2x.text-purple
                        %em.fa.fa-pencil-square-o.fa-stack-1x.fa-inverse.text-white
                    .media-body.clearfix
                      .media-heading.text-purple.m0 {{event.name}}
                      %br
                      %small.text-muted.pull-right {{event.start_time}} on {{event.start_date}} until {{event.end_time}} on {{event.end_date}}
                      %br
                      %p.m0
                        %small
                          {{event.description}}                      

              .panel-footer.clearfix
                #accordian
                  %a.pull-left.collapsed{:style => 'margin-left: 15px;', "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse_{{event.event_id}}"}
                    %em.fa.fa-comment-o
                    %small{'ng-if' => 'event.comments.length === 0'} Comment
                    %small{'ng-if' => 'event.comments.length > 0'} Comment ({{event.comments.length}})
              #collapse.panel-collapse.collapse{:style => "height: 0px;", :id => "{{event.event_id}}"}
                .panel-footer.clearfix
                  .list-group
                    .list-group-item{'ng-repeat' => 'comment in event.comments'}
                      .media
                        .pull-left
                          %span.fa-stack.fa-lg
                            %em.fa.fa-circle.fa-stack-2x.text-purple
                            %em.fa.fa-cloud-upload.fa-stack-1x.fa-inverse.text-white
                        .media-body.clearfix
                          %p by {{comment.user.full_name}} on {{comment.post_date}}
                          %p.m0
                            %small
                              {{comment.text}}                       
                          / .media-heading.text-purple.m0 {{comment.text}}
                          %small.text-muted.pull-right {{comment.post_time}}

                  %form
                    .form-group
                      %p
                        %input.form-control.input-sm{:placeholder => "Enter a comment...", 'ng-model' => 'requestControl.newComment'}
                    .form-actions
                      .pull-right
                        %button.btn.btn-xs.btn-success{'ng-click' => 'requestControl.createEventComment($index)'} Submit

        / END messages and activity
      / END dashboard main content
      / START dashboard sidebar
      %aside.col-md-5{'ng-controller' => 'PostsController'}
        / START chart
        .row
          .panel.panel-default
            .panel-heading
              .panel-title News feed
            .list-group
              .list-group-item
                .media
                  %p.m0.media-body.clearfix{:style => 'padding-left: 45px;'}
                    %small Tells us what's new
                  .pull-left
                    %span.fa-stack.fa-lg
                      %em.fa.fa-circle.fa-stack-2x.text-purple
                      %em.fa.fa-pencil-square-o.fa-stack-1x.fa-inverse.text-white
                  .media-body.clearfix
                    %p
                      %input.form-control.input-sm{:placeholder => "Enter title..", 'ng-model' => 'requestControl.post_params.title'}
                    %p
                      %textarea.form-control.input-sm{:placeholder => "Enter text..", 'ng-model' => 'requestControl.post_params.text'}
                    %p
                      .form-actions
                        %button.btn.btn-xs.btn-success.pull-right{'ng-click' => 'requestControl.createPost()'} Post

        .row{'ng-repeat' => 'post in requestControl.posts'}
          .panel.panel-default
            / START list group
            .list-group
              / START list group item
              .list-group-item
                .media
                  .pull-left
                    %span.fa-stack.fa-lg
                      %em.fa.fa-circle.fa-stack-2x.text-purple
                      %em.fa.fa-cloud-upload.fa-stack-1x.fa-inverse.text-white
                  .media-body.clearfix
                    .media-heading.text-purple.m0 {{post.title}}
                    %p.text-muted by {{post.user.full_name}} on {{post.post_time}}
                    %p.mb0
                      %small
                        {{post.text}}
              .list-group-item{'ng-if' => 'post.like_count > 0'}
                %p
                  %small {{post.like_text}}

            .panel-footer.clearfix
              %a.pull-left.make-black{:href => "#", 'ng-if' => 'post.user_likes_post === false', 'ng-click' => 'requestControl.likePost($index)'}
                %em.fa.fa-thumbs-o-up
                %small Like
              %a.pull-left{:href => "#", 'ng-if' => 'post.user_likes_post === true', 'ng-click' => 'requestControl.unLikePost($index)'}
                %em.fa.fa-thumbs-o-up
                %small Like      
              #accordian
                %a.pull-left.collapsed{:style => 'margin-left: 15px;', "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse_{{post.post_id}}"}
                  %em.fa.fa-comment-o
                  %small{'ng-if' => 'post.comments.length === 0'} Comment
                  %small{'ng-if' => 'post.comments.length > 0'} Comment ({{post.comments.length}})
            #collapse.panel-collapse.collapse{:style => "height: 0px;", :id => "{{post.post_id}}"}
              .panel-footer.clearfix
                .list-group
                  .list-group-item{'ng-repeat' => 'comment in post.comments'}
                    .media
                      .pull-left
                        %span.fa-stack.fa-lg
                          %em.fa.fa-circle.fa-stack-2x.text-purple
                          %em.fa.fa-cloud-upload.fa-stack-1x.fa-inverse.text-white
                      .media-body.clearfix
                        %p.m0
                          %small
                            {{comment.text}}                       
                        / .media-heading.text-purple.m0 {{comment.text}}
                        %small.text-muted.pull-right {{comment.post_time}}
                %form
                  .form-group
                    %p
                      %input.form-control.input-sm{:placeholder => "Enter a comment...", 'ng-model' => 'post.newComment', 'ng-keypress' => 'requestControl.eventKeypress($event, $index)'}




