.row.row-table.page-wrapper
  .col-lg-3.col-md-6.col-sm-8.col-xs-12.align-middle
    / START panel
    .panel.panel-dark.panel-flat{"data-offset" => "0", "data-play" => "fadeIn", "data-toggle" => "play-animation"}
      .panel-heading.text-center
        %h3
          Zombie Box
        %p.text-center.mt-lg
          %strong PASSWORD RESET
      .panel-body
        %form{:role => "form"}
          %p.text-center Fill with your mail to receive instructions on how to reset your password.
          .form-group.has-feedback
            %label{:for => "resetInputEmail1"} Email address
            %input#resetInputEmail1.form-control{:placeholder => "Enter email", :type => "email"}
              %span.fa.fa-envelope.form-control-feedback.text-muted
          %button.btn.btn-danger.btn-block{:type => "submit"} Reset
    / END panel